@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card-container > * {
  margin-bottom: 1rem;
}
